@import "../node_modules/bootstrap/scss/bootstrap";


/*----*/

html {
	scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: 'robotoregular';
	text-align: left;
	position: relative;
}

ul {
	margin: 0px;
	padding: 0px;
}

a:hover {
	color: #155a9f;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #00582c;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'roboto_condensedbold';
}

h1 {
	font-size: 25px;
}

p {
	margin: 0px;
	padding: 0px !important;
	font-size: 15px;
	font-family: 'robotoregular';
	color: #000;
	@media (max-width: 991px) {
		font-size:14px;
	}
}

.main {
	margin: 56px 0 0 0;
}

.btn-primary {
	background-color: #00582c;
	border: 1px solid #00582c;
	color: #fff!important;
	transition: 0.5s;
	&:hover {
		background-color: transparent;
		border: 1px solid #00582c;
		color: #00582c!important;
	}
	&:focus {
		background-color: #00582c;
		border: 1px solid #00582c;
		color: #fff!important;
		transition: 0.5s;
		outline: none;
		box-shadow: none;
	}
}

.commonBtn {
	padding: 6px 30px;
	font-size: 16px;
	font-family: 'roboto_condensedregular';
}

.pd-0 {
	padding: 0px;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
	font-size: 13px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	height: 40px;
	border-color: #ddd;
	resize: none;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	font-size: 13px!important;
	height: 40px!important;
	border-radius: 4px!important;
    background-color: transparent!important;
	&:focus{
		-webkit-box-shadow: none;
	     box-shadow: none;
	}
}

textarea {
	min-height: 100px;
}


/*----*/

.container {
	@media (max-width: 991px) {
		width: 100%;
		max-width: 100%;
	}
}

.table {
	thead {
		tr {
			background-color: #00582c;
			th {
				color: #fff;
				border-bottom-width: 1px;
				font-size: 14px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: 14px;
				line-height: 24px;
				vertical-align: middle;
				a {
					text-decoration: underline;
					color: #00582c;
					font-weight: bold;
				}
			}
		}
	}
}

tr:nth-child(even) {
	background: #f9fff9
}

;
tr:nth-child(odd) {
	background: #FFF
}
.badge {
	letter-spacing: 1px;
	font-size: 10px;
	padding: 6px;
	margin: 0 0 3px 0;
	font-weight: 400;
}


/*--modal pop up --*/

.addBtn {
	position: fixed;
	right:50px;
	bottom:50px;
	text-align: center;
	.moreIcons {
		position: absolute;
		top: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				position: relative;
				cursor: pointer;
				label {
					width: 40px;
					height: 40px;
					background-color: #00582c;
					border-radius: 50px;
					margin: 0px;
					position: relative;
					i {
						color: #fff;
						text-align: center;
						line-height: 40px;
						font-size: 16px;
						transition: 0.2s;
						&.fa-plus {
							position: absolute;
							left: 13px;
							transition: 0.2s all ease;
							-webkit-transition: 0.2s all ease;
						}
					}
				}
				ul {
					position: absolute;
					bottom: 45px;
					left: 50%;
					transform: translateX(-50%);
					display: none;
					padding: 10px 0;
					li {
						width: 35px;
						height: 35px;
						border-radius: 50px;
						background-color: #007bff;
						margin: 0 0 12px 0;
						&:last-child {
							margin: 0px;
						}
						i {
							font-size: 12px;
							line-height: 35px;
							color: #fff;
						}
					}
				}
				&:hover {
					ul {
						display: block;
					}
					label {
						i {
							&.fa-plus {
								position: absolute;
								left: 13px;
								transition: 0.2s all ease;
								-webkit-transition: 0.2s all ease;
								transform: rotate(45deg);
								-webkit-transform: rotate(45deg);
							}
						}
					}
				}
			}
		}
	}
}

.addActivity {
	margin:0;
	label {
		display: block;
		font-family: 'roboto_condensedbold';
		font-size: 20px;
		margin: 0px;
	}
    span{
		margin:0 5px 0;
	}
}
.edit {
	margin: 0 8px 0 0;
	i {
		color: #fff;
		font-size: 16px;
	}
}
.delete {
	i {
		color: #fff;
		font-size: 16px;
	}
}

.modal {
	z-index: 999999;
	.modal-header {
		background-color: #00582c;
		h4 {
			color: #fff;
			font-size: 18px;
		}
		.close {
			opacity: 1;
			color: #fff;
			text-shadow: none;
			&:hover {
				color: #fff;
			}
		}
	}
}