@font-face {
    font-family: 'roboto_condensedbold';
    src: url('./assets/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('./assets/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('./assets/fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('./assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('./assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
